.heading {
    font: italic;
    font-size: 200PX;
    color: red;
}

.paragraf {
    font-size: 150px;
    color: red;
    font-family: 'Times New Roman', Times, serif 
    background-colot:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}