.heading {
  font: italic;
  font-size: 200px;
  color: red;
}

div {
  background-color: red;
  font-size: 400px;
}

.paragraf {
  font-size: 150px;
}

.paragraf2 {
  font-size: 400px;
  height: 100%;
  width: 100%;
}